%h2= "delete #{@relay.hostname} \##{@relay.id}"

%form{action: url("#{settings.sub_path}/relay/#{@relay.id}"), method: 'POST'}
  %input{ type: "hidden", name:"_method", value: "DELETE" }
  %input{ type: "submit", value:"Delete" }
