%h2= "edit #{@relay.hostname} \##{@relay.id}"

%form{action: url("/relay/#{@relay.id}"), method: 'post'}
  %input{name: '_method', :type => 'hidden', :value => 'put'}/
  %p
    %label register ip:
    %input{name: 'relay[ip]', type: 'text', value: @relay.ip}/
  %p
    %label register mac:
    %input{name: 'relay[mac]', type: 'text', value: @relay.mac}/
  %p
    %label hostname:
    %input{name: 'relay[hostname]', type: 'text', value: @relay.hostname}/
  %p
    %label contact:
    %textarea{name: 'relay[contact]'}= @relay.contact

  %p
    %label dns priority:
    %input{name: 'relay[dns_priority]', type: 'text', value: @relay.dns_priority}/

  - if @relays.count > 1
    %p
      %label master relay:
      %select{name: 'relay[master]'}
        %option{value: ''}
        - @relays.select{ |r| r if r.hostname != @relay.hostname || r.ip != @relay.ip }.each do |relay|
          - if @relay.master.to_i == relay.id
            %option{value: relay.id, selected: 'selected'}= "#{relay.hostname} - #{relay.ip}"
          - else
            %option{value: relay.id}= "#{relay.hostname} - #{relay.ip}"
  %p
    %label public:
    %input{:type => 'hidden', :name => 'relay[public]',   :value => 'false'}
    %input{:type => 'checkbox', :name => 'relay[public]', :value => 'true', checked: @relay.public}
  %p
    %label loadbalancer:
    %input{:type => 'hidden', :name => 'relay[lb]',   :value => 'false'}
    %input{:type => 'checkbox', :name => 'relay[lb]', :value => 'true', checked: @relay.lb}
  %p
    %label cm deploy:
    %input{:type => 'hidden', :name => 'relay[cm_deploy]',   :value => 'false'}
    %input{:type => 'checkbox', :name => 'relay[cm_deploy]', :value => 'true', checked: @relay.cm_deploy}

  %p
    %label tags:
    - Tag.all.each do |tag|
      %input{type: 'hidden', name:   "tags[#{tag.id}]", value: 'false'}
      %input{type: 'checkbox', name: "tags[#{tag.id}]", value: 'true', checked: @relay.tags.include?(tag)}
      = tag.name


  %p
    %input{name: 'commit', type: 'submit', value: 'update'}/
