%h2= "#{@relay.ip} - #{@relay.hostname}"

- unless @relay.contact.nil? || @relay.contact == ''
  %a{name: 'contact'}
  %h3 contact
  %p
    %pre
      = preserve @relay.contact


%a{name: 'ip'}
%h3 ip a
%pre
  = preserve @relay.ip_config

%a{name: 'disk'}
%h3 df -h
%pre
  = preserve @relay.disk_size

%a{name: 'cpu'}
%h3 cat /proc/cpuinfo
%pre
  = preserve @relay.cpu

%a{name: 'memory'}
%h3 free -m
%pre
  = preserve @relay.memory

%a{name: 'lspci'}
%h3 lspci
%pre
  = preserve @relay.lspci

%p
  %a{ href: url('/') } ← back
