%h2{title: @subnet_tree.search(@relay.ip)[:name]}
  = "#{@relay.hostname}"

.menu
  %ul
    - unless @relay_bw.nil?
      %li
        %a{href: '#iperf'} iperf
    - %w{ip disk lspci memory cpu}.each do |section|
      %li
        %a{href: "\##{section}"}= section

%ul.head_menu
  %li
    %a{href: url("/relay/#{@relay.id}/edit")} edit

%ul.head_status
  - unless @relay.public.nil?
    %li
      = "public: "
      %code
        = "#{@relay.public}"
  - unless @relay.lb.nil?
    %li
      = "loadbalancer: "
      %code
        = "#{@relay.lb}"
  %li
    = "dns priority: #{@relay.dns_priority} of #{Relay.max_dns_priority}"
  - if @relay.master != ''
    %li
      = "master: "
      %code
        ="#{Relay.find(@relay.master).hostname}"
  - if @relay.tags.count > 0
    %li
      = "tags: "
      %code
        = "#{@relay.tags.map(&:name).join(', ')}"

- unless @relay.contact.nil? || @relay.contact == ''
  %a{name: 'contact'}
  %h3 contact
  %p
    %pre
      = preserve @relay.contact

- unless @relay_bw.nil?
  %a{name: 'ipfer'}
  %h3= "last iperf run #{@relay_bw.keys.last}"
  %table{border: true}
    %thead
      %th hostname
      %th destination
      %th asn
      %th tx
      %th rx
    %tbody
      - @relay_bw[@relay_bw.keys.last].each do |bw|
        - unless bw.at_the_same_time
          - as = @subnet_tree.search(bw.destination)
          %tr{ title: "#{as[:name]}"}
            - if relay = Relay.find_by_ip(bw.destination)
              %td
                %a{href: url("/relay/#{relay.id}")}= relay.hostname
            - else
              %td
            %td= bw.destination
            %td
              %a{ href: "https://www.peeringdb.com/private/participant_list.php?s_name=&s_asn=#{as[:asn]}" }= as[:name]
            %td= Bandwidth.normalize(bw.tx)
            %td= Bandwidth.normalize(bw.rx)
  %p
    %a{href: url("/relay/#{@relay.id}/bandwidth")} → more

%a{name: 'ip'}
%h3 ip a
%pre
  = preserve @relay.ip_config

%a{name: 'disk'}
%h3 df -h
%pre
  = preserve @relay.disk_size

%a{name: 'cpu'}
%h3 cat /proc/cpuinfo
%pre
  = preserve @relay.cpu

%a{name: 'memory'}
%h3 free -m
%pre
  = preserve @relay.memory

%a{name: 'lspci'}
%h3 lspci
%pre
  = preserve @relay.lspci

%p
  %a{ href: url('/') } ← back
